
@{
    ViewData["Title"] = "WyslijEmail";
}

<h1>WyslijEmail</h1>

<form method="post" action="/home/wyslijemail">
    <input type="text" name="dokogo"/>
    <input type="text" name="temat"/>
    <input type="text" name="tresc"/>
    <input type="submit" value="Wyślij"/>
</form>




