
@{
    ViewData["Title"] = "Index";
}

<h1>Ranking</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Ranking" asp-action="RankingNajTreningDyscIndex">Ranking najlepszych treingów w ramach danej dyscypliny z uwagi na dystans</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Ranking" asp-action="RankingNajTreningDyscIndex">Ranking najlepszych treingów w ramach danej dyscypliny z uwagi na czas</a>


